.dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dots div {
  width: 6px;
  height: 6px;
  background-color: rgb(199, 199, 199);
  border-radius: 9999px;
  transform: scale(.7);
}