.project-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error-message {
  position: absolute;
  bottom: 0;
  transform: translateY(40px);
  color: red;
  background: rgba(0, 0, 0, .6);
  padding: 4px 8px;
  border-radius: 6px;
}