.wrapper {
  width: 80%;
}

.content {
  margin-top: 20px;
}

.feature {
  margin-bottom: 20px;
}

.feature h3 {
  color: #5BC0DE;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: inherit;
    padding: 20px;
  }
}