.navbar-container {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #34568B;
  color: #CAD2D3;
}

.title-icon {
  padding: 16px 0;
}

.navbar-profile img {
  border-radius: 9999px;
}

.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.navbar-container li {
  cursor: pointer;
}

.navbar-container li:hover {
  background-color: rgba(230, 230, 230, 0.262);
}

.navbar-profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.navbar-profile a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 8px 12px;
}



@media screen and (max-width: 500px) {
  .navbar-container.open {
    height: 100vh;
    width: 100%;
    position: absolute;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 2;
  }

  .navbar-container.open ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-profile {
    width: 100%;
    justify-content: space-between;
  }

  .navbar-menu-sm {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}