.sidebar-body:has(.sidebar-new-theme-form) {
  display: flex;
  height: calc(100% - 23px);
}

.sidebar-new-theme-form {
  display: flex;
  flex-direction: column;
  gap: 10px
}


.form-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 14px;
}