.app {
  display: flex;
  background-color: #E4E6E7;
  height: 100%;
  flex-direction: column;
}

.main-container {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}

.button {
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.9);
  }
}