:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2 {
  color: #31708E;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  overflow: hidden;
}

a {
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

a:hover {
  background-color: #E8A798;
  color: black
}